* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("img/bgimg.jpg");
    height: 70vh;
    background-position-x: center center;
    background-repeat: no-repeat;
    background-size: max(1600px, 100vw);
    position: relative;

}


.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav img {
    color: red;
    width: 133px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 23px;

}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.separation {
    height: 7px;
    background-color: rgb(51, 51, 51);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(246, 238, 238, 0.021);
    border: 1px solid rgba(255, 255, 255, 0.211);
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.red-btn {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    border: 1px solid rgb(229, 9, 20);
}

.red-btn:hover{
    background-color: rgba(223, 211, 211, 0.747);
}



.main input {
    padding: 20px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}



section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

.faq h2 {
    text-align: center;
    color: white;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 48px;

}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faqbox:hover {
    background-color: #414141;
    transition: 0.5s;
}


.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    width: 100%;
    color: white;
    margin: 12px auto;
    max-width: 60vw;
    cursor: pointer;
    font-size: 24px;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}



.footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;

}

.footer a:hover {
    text-decoration: underline;
}

footer .question {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

@media screen and (max-width: 1300px){
nav{
    max-width: 90vw;
}

    .first{
        flex-wrap: wrap;
    }   

    .secImg img {
        width: 305px;
      
    }

    .secImg video {
        width: 305px;
      
      
    }
    .hero> :nth-child(1) {
        font-size: 32px;
    }
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
   
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    .footer{
        max-width: 90vw;
    }
    
    .footer-item{
        align-items: center;
    }
}


@media screen and (max-width: 1300px){
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    

    }
      
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}